################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebEx.Auth/bin/Debug
/WebEx.Auth/obj/Debug
/WebEx.Core/bin/Debug
/WebEx.Core/obj/Debug
/.vs/Supercharger
/App_Data/Packages
/.vs/webex/v15/Server/sqlite3
/.vs/webex/v15/sqlite3/db.lock
/.vs/webex/v15/sqlite3/storage.ide-shm
/.vs/webex/v15/sqlite3/storage.ide-wal
