################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebEx.Auth/bin/Debug
/WebEx.Auth/obj/Debug
/WebEx.Core/bin/Debug
/WebEx.Core/obj/Debug
/.vs/Supercharger
/App_Data/Packages
