@model WebExModel

@{

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>
        WebEx @Html.RenderModule(Model, "Page", view: "title")
    </title>
    @foreach (var str in Html.RenderModulesViewOfType(Model, "css"))
    { @str }
</head>
<body>
    @RenderBody()
    @foreach (var str in Html.RenderModulesViewOfType(Model, "corejs", (module) => module.GetType().Name.ToLower().Contains("jquery") ? -100 : 0))
    { @str }
    @foreach (var str in Html.RenderModulesViewOfType(Model, "js"))
    { @str }
</body>

</html>