@{

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>
        WebEx @Html.RenderModule("Pages", view: "title")
    </title>
    @foreach (var str in Html.RenderModules("css"))
    { @str }
</head>
<body>
    @RenderBody()
    
    @foreach (var str in Html.RenderModules("js"))
    { @str }
</body>

</html>