@{

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>
        WebEx @Html.RenderModule("Pages", "title")
    </title>
    @Html.RenderModules(Contracts.CSSView)
</head>
<body>
    @RenderBody()

    @Html.RenderModules(Contracts.JavascriptView)
</body>

</html>